
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  gap: 20px;
}
#hour{
  width: 40px;
  height: 40px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#minute{
  width: 40px;
  height: 40px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#second{
  width: 40px;
  height: 40px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}